@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300; 	
    overflow: auto;
    background-color: #1466b8;
    color: black;
    font-size: 15px;
}
.container{
	position: center;
	margin-top: 100px;
}
.navbar-brand{
	background-color: black;
	color: white;
}

.navbar-brand:hover{
	background-color: white;
	color: black;
}

.navbar-nav li a{
	background: black;
	color: white;
}
.navbar-nav li a:hover{
	background-color: white;
	color: black;
}
.navbar{
	background: black;
}

.navbar-nav li a.active{
	background-color: red;
	color: white;
}
h2{
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

.questions li a{

	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

.questions ul{
	list-style: none;
}
.questions ul li small{
	
	color: white;
}