	
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
@prim: #53e3a6;




body{
	background-color: black;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 300;
	
	
}
.form-auth{

	margin-top: 50px;


}
h1{
	font-weight: 100;
}


.container{
	max-width: 600px;
	margin: 0 auto;
	padding: 80px 0;
	height: 400px;
	text-align: center;
	
}


.container input{

	width: 350px;
	height: 50px;
	margin: 8px;
	text-align: center;
	font-size: 18px;


}

input::-webkit-input-placeholder ,textarea::-webkit-input-placeholder {
		font-family: 'Source Sans Pro', sans-serif;
		color: white;
		font-weight: 300;
	}

input:hover{
	background-color: fade(blue, 40%);
}			


.container .form-control{
	background-color: transparent;
	color: white;
	border-radius: 3px;
	width: 345px;


}
.container .form-control:focus{
	background-color:white;
	color: black; 
}


.button{
		background-color: white;
		border: 0;
		padding: 10px 15px;
		color: #1395ec;
		border-radius: 3px;
		width: 250px;
		cursor: pointer;
		transition-duration: 0.25s;

}
.button:hover {
   background: #1395ec;
   color: white;
}

#err{
	width:350px;
}






