@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300; 	
    overflow: auto;
    background-color: #1466b8;
    color: black;
    font-size: 15px;

}
.container{
	position: center;
	margin-top: 100px;
	color: black;

}
.navbar-brand{
	background-color: black;
	color: white;
}

.navbar-brand:hover{
	background-color: white;
	color: black;
}

.navbar-nav li a{
	background: black;
	color: white;
}
.navbar-nav li a:hover{
	background-color: white;
	color: black;
}
.navbar{
	background: black;
}

.navbar-nav li a.active{
	background-color: red;
	color: white;
}
.post{
	background-color: white;
	color: black;
	border-radius: 3px;
}
#sub{
	background-color: black;
	color: white;
}
#sub:hover{
	background-color: white;
	color: black;
}

hr{
	margin-bottom: 10px;
}
a{
	color: black;
}
h2 a{
	color: black;
}